# Aliases
alias a="atom ."
alias prof="atom ~/.bash_profile"
alias p="cd ~/projects"
alias t="cd ~/test"
alias b="cd .."
alias c="clear"

# Git Aliases
alias ga='git add' 
alias gc='git commit'
alias gca='git commit --amend --reuse-message HEAD '
alias g.='git add .; git commit -m'
alias gs='git status'
alias gpo='git push origin'
alias gb='git branch -av'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcm='git checkout master; git pull;'
alias gh="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
