# Aliases
alias p="cd ~/projects"
alias b="cd .."
alias c="clear"
alias i="open 'chrome://inspect'"

# Git Aliases
alias ga='git add' 
alias gc='git commit'
alias g.='git add .; git commit -m'
alias gs='git status'
alias gpo='git push origin'
alias gco="git checkout"
alias gb='git branch -av'

# NOTHS
alias kthree="kill -9 $(netstat -vanp tcp | grep 3000 | awk '{ print $9 }')"
alias kflow="kill -9 $(ps aux | grep flow | awk '{print $2}')"
alias gbd='git branch | grep -v "master" | xargs git branch -D' # Remove all branches apart from master 
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcm='git checkout master; git pull;'
alias gh="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
